
$pd-xs: 0.3rem;
$pd-s: 0.6rem;
$pd-nm: 1rem;
$pd-l: 1.5rem;
$pd-xl: 2.2rem;
$pd-xxl: 3.2rem;

$mg-xs: 0.5rem;
$mg-s: 0.8rem;
$mg-nm: 1.5rem;
$mg-l: 2.5rem;
$mg-xl: 4rem;

$txt-xs: 0.6rem;
$txt-s : 0.8rem;
$txt-nm: 1.1rem;
$txt-l: 1.5rem;
$txt-xl: 1.8rem;
$txt-xxl: 2.3rem;
$txt-huge: 3rem;

$bg-clr: #f0a050;
$bg-white: #E8E2E2;
$black: #000;
$gray-1: #C7BCA1;
$gray-2: #8B7E74;
