@use './sass/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Climate Crisis', cursive;
    width: 100%;
    height: 100%;
    background-color: $bg-clr;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}
